.container {
  width: 100%;
  margin-top: 40px;
}

.input-container {
  border-radius: 5px;
  width: 60px;
  height: 60px;
  margin-left: 5px;
  padding: 18px;
  font-size: 30px;
  font-weight: bold;
  border-style: solid;
  border-color: #e4eaee;
}
